<!DOCTYPE html>
<html lang="en">
	<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
<meta name="author" content="ADD AUTHOR INFORMATION">
<meta name="robots" content="index, follow">


		<!-- icons -->
		<link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
		<link rel="shortcut icon" href="static/images/favicon.ico">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="static/css/my_style.css">
	</head>
	<body>
		<div class="header">
            <!--- cont--->
			<div class="container">
<img class="img-responsive" src="static/images/banner.png" alt="">
			</div>
            <!--- cont--->
        </div>
		<div class="nav-bar">
            <!--- cont--->
			<div class="container">
			<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/tips">Helpful Tips</a></li>
					<li><a href="/conversions">Converting cooking units</a></li>
                    <li><a href="/video">Videos</a></li>
				</ul>
			</div>
            <!--- cont--->
		</div>
		<div class="content">
			<div class="container">
                <!-- content block -->

{%block content %} {% endblock %}



				 <!-- content block -->
			</div>
		</div>
		<div class="footer">
			<div class="container">
				&copy; Copyright 2018
			</div>
		</div>
	</body>
</html>