{% extends "layout.html" %}

{% block title %}
Tips
{% endblock %}

{% block content %}
<h1 style="text-align: center;">A new recipe each day</h1>
					<!-- Paragraphs -->
<h3 style="text-align: center;">Double Chocolate Muffins</h3>


<p>These muffins are great for a filling morning or afternoon tea.
They are fun to make and the ingredients cost $5.00, which is much cheaper and much for fun than buying them already made. The recipe makes 24 muffins so you can give them to friend or even freeze them and take a fresh one out of the freezer each day.</p>


					<hr>
{% endblock %}